<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDq9nJbt4JCS6k_2OmO0-rOdDmz4w6N19E</string>
	<key>GCM_SENDER_ID</key>
	<string>585338785973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.locustapp</string>
	<key>PROJECT_ID</key>
	<string>swarmify-16a5a</string>
	<key>STORAGE_BUCKET</key>
	<string>swarmify-16a5a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585338785973:ios:16ba8e6defaac4f0aa2efc</string>
</dict>
</plist>